<% if notice %>
  <p class="alert alert-danger" id="notice"><%= notice %></p>
<%end %>
<h1>Sign_in</h1>
<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="container-md">
    <div class="mb-3">
      <label for="login" class="form-label">Login</label>
      <input type="text" name="user[login]" class="form-control" id="login" aria-describedby="emailHelp" value="<%= @user.login %>">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="user[password]" class="form-control" id="password" aria-describedby="emailHelp" value="<%= @user.password %>">
    </div>
    <button type="submit" class="btn btn-primary">Sign_in</button>
  </div>
</form>
